/* create a color pallete */
:root {
  --color-light: #f5f5f5;
  --color-dark: #333;

  --color-white: #fff;
  --color-black: #000;

  --color-gray: #797979;
  --color-gray-light: #e5e5e5;
  --color-gray-dark: #333;

  --color-green: #68a54b;
  --color-light-green: #d7f8c4;
  --color-red: #962d2c;
  --color-light-red: #964d4c;

  --color-blue: #2c3e50;
  --color-blue-light: #3498db;
  --color-blue-dark: #2980b9;

  --color-yellow: #f5f374;
  --color-orange: #f39c12;
}

table#posiciones tbody tr:hover {
  background-color: var(--color-yellow);
  cursor: pointer;
}

table#posiciones tbody tr.highlight {
  background-color: var(--color-light-green);
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  border-radius: 2px;
  color: rgb(20, 20, 20, 1);
  background-color: rgb(49, 45, 44, 1);
  border: 1.8px solid var(--color-gray);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tiptext {
  visibility: hidden;
  min-width: max-content;
  background-color: var(--color-red);
  border: 1px solid var(--color-light-red);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  text-shadow: 0 2px 2px var(--color-black);
}

.tooltip .tiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tiptext {
  visibility: visible;
  /* font-weight: bold; */
}

.tooltip.top .tiptext {
  transform: translate(-50%);
  bottom: 150%;
  left: 50%;
}

.tooltip.top .tiptext::after {
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border-color: var(--color-red) transparent transparent transparent;
}

td.selected {
  background-color: var(--color-yellow);
}

td.unselected {
  background-color: var(--color-light);
}

td.unselected:hover {
  background-color: var(--color-yellow);
}

#progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: transparent;
  z-index: 10000;
  transition: opacity 0.5s ease;
  opacity: 1;
}

#progressBar {
  width: 0%;
  height: 100%;
  background-color: var(--color-green);
  transition: width 0.5s ease;
  opacity: 0.9;
}

.tabPos {
  position: absolute;
  width: 380px;
}

.new-title {
  position: relative !important;
}

.label-title {
  position: absolute !important;
  font-size: 16px;
  text-align: right;
  text-shadow: none;
  border: none;
  background: none;
  right: -2px;
  top: -2px;
  z-index: 1;
  transition: all 0.1s;
}

.label-title.selected {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0f0;
}
