table#posiciones tbody tr:hover {
    background-color: #F5F374;
    cursor: pointer;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-radius: 2px;
    color: rgb(20, 20, 20, 1);
    background-color: rgb(49, 45, 44, 1);
    border: 1.8px solid #797979;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tiptext {
    visibility: hidden;
    min-width: max-content;
    background-color: #962D2C;
    /* #00612D */
    ;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip:hover .tiptext {
    visibility: visible;
    /* font-weight: bold; */
}

.tooltip.top .tiptext {
    transform: translate(-50%);
    bottom: 150%;
    left: 50%;
}

.tooltip.top .tiptext::after {
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #962D2C transparent transparent transparent;
}